<div class="center jumbotron">
  <h1>Welcome to Fit Dual the Ultimate Fitness Challenge</h1>

  <h2>
    This is the home page for
    <a href="https://www.fitbit.com/login">FitBit</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary"%>

</div>
